@base: 4px;

.img {
    width: 100%;
}

.overflow-auto {
    overflow: auto;
}

.centered-text {
    text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.rcard {
    margin-bottom: @base*2;
}